<section class="section article-section">
  <div class="container">
    <h2 class="subtitle">Новые статьи</h2>
    <div class="article-container">
      <div class="main-article">
          <a href="detail.html" class="topics__link">
            <ul class="badges-list">
              <li class="badge">Книги</li>
              <li class="badge">Обучение</li>
            </ul>
            <img src="/img/book-photoshop.jpg" alt="Тема" class="topics__image" style="margin-bottom: 10px;">
            <span class="topics__content" style="padding: 0;">
              <time class="topics__date">07.03.2025</time>
              <h3 class="topics__title">Основы цифрового рисунка в Photoshop. Гайд для начинающих</h3>
              <p class="topics__description">Этот гайд поможет вам освоить важнейшие инструменты Photoshop, найти индивидуальный стиль и создать первые цифровые работы, если вы только начали свой профессиональный путь.</p>
            </span>
          </a>
      </div>

      <ul class="article-section__list">
        <li class="article-section__item">
          <a href="#" class="article-section__link">
            <img src="/img/blog-image.jpg" alt="Тема" class="article-section__image">
            <span class="article-section__content">
              <time datetime="" class="article-section__date">08.08.2021</time>
              <h3 class="article-section__title">Dream destinations to visit this year in Paris</h3>
              <p class="article-section__description">Progressively incentivize cooperative systems through technically sound functionalities. Credibly productivate seamless data with flexible schemas.</p>
          </span>
          </a>
        </li>

        <li class="article-section__item">
          <a href="#" class="article-section__link">
            <img src="/img/blog-image.jpg" alt="Тема" class="article-section__image">
            <span class="article-section__content">
              <time datetime="" class="article-section__date">08.08.2021</time>
              <h3 class="article-section__title">Dream destinations to visit this year in Paris</h3>
              <p class="article-section__description">Progressively incentivize cooperative systems through technically sound functionalities. Credibly productivate seamless data with flexible schemas.</p>
          </span>
          </a>
        </li>

        <li class="article-section__item">
          <a href="#" class="article-section__link">
            <img src="/img/blog-image.jpg" alt="Тема" class="article-section__image">
            <span class="article-section__content">
              <time datetime="" class="article-section__date">08.08.2021</time>
              <h3 class="article-section__title">Dream destinations to visit this year in Paris</h3>
              <p class="article-section__description">Progressively incentivize cooperative systems through technically sound functionalities. Credibly productivate seamless data with flexible schemas.</p>
          </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>