<section class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <img src="/img/book-photoshop.jpg" class="card-img-top object-fit-cover" style="height: 30rem;">
        <div class="card-body">
          <div class="mb-2">
            <a href="#" class="link-offset-2 link-underline link-underline-opacity-0">Книги,</a> <a href="#" class="link-offset-2 link-underline link-underline-opacity-0">Обучение</a>
          </div>
          <h5 class="card-title">Основы цифрового рисунка в Photoshop. Гайд для начинающих</h5>
          <p class="card-text">Этот гайд поможет вам освоить важнейшие инструменты Photoshop, найти индивидуальный стиль и создать первые цифровые работы, если вы только начали свой профессиональный путь.</p>
          <a href="#" class="btn btn-primary mb-3">Подробнее</a> <br>
          <time class="fs-6 text-secondary">07.03.2025</time>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="mb-3">
        <div class="card">
          <img src="/img/book-photoshop.jpg" class="card-img-top object-fit-cover" style="height: 12rem;">
          <div class="card-body">
            <div class="mb-2">
              <a href="#" class="link-offset-2 link-underline link-underline-opacity-0">Книги,</a> <a href="#" class="link-offset-2 link-underline link-underline-opacity-0">Обучение</a>
            </div>
            <h5 class="card-title fs-6">Основы цифрового рисунка в Photoshop. Гайд для начинающих</h5>
            <a href="#" class="btn btn-primary mb-3">Подробнее</a> <br>
            <time class="fs-6 text-secondary">07.03.2025</time>
          </div>
        </div>
      </div>
      <div>
        <div class="card">
          <img src="/img/book-photoshop.jpg" class="card-img-top object-fit-cover" style="height: 12rem;">
          <div class="card-body">
            <div class="mb-2">
              <a href="#" class="link-offset-2 link-underline link-underline-opacity-0">Книги,</a> <a href="#" class="link-offset-2 link-underline link-underline-opacity-0">Обучение</a>
            </div>
            <h5 class="card-title fs-6">Основы цифрового рисунка в Photoshop. Гайд для начинающих</h5>
            <a href="#" class="btn btn-primary mb-3">Подробнее</a> <br>
            <time class="fs-6 text-secondary">07.03.2025</time>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="mb-3">
        <div class="card">
          <img src="/img/book-photoshop.jpg" class="card-img-top object-fit-cover" style="height: 12rem;">
          <div class="card-body">
            <div class="mb-2">
              <a href="#" class="link-offset-2 link-underline link-underline-opacity-0">Книги,</a> <a href="#" class="link-offset-2 link-underline link-underline-opacity-0">Обучение</a>
            </div>
            <h5 class="card-title fs-6">Основы цифрового рисунка в Photoshop. Гайд для начинающих</h5>
            <a href="#" class="btn btn-primary mb-3">Подробнее</a> <br>
            <time class="fs-6 text-secondary">07.03.2025</time>
          </div>
        </div>
      </div>

      <div>
        <div class="card">
          <img src="/img/book-photoshop.jpg" class="card-img-top object-fit-cover" style="height: 12rem;">
          <div class="card-body">
            <div class="mb-2">
              <a href="#" class="link-offset-2 link-underline link-underline-opacity-0">Книги,</a> <a href="#" class="link-offset-2 link-underline link-underline-opacity-0">Обучение</a>
            </div>
            <h5 class="card-title fs-6">Основы цифрового рисунка в Photoshop. Гайд для начинающих</h5>
            <a href="#" class="btn btn-primary mb-3">Подробнее</a> <br>
            <time class="fs-6 text-secondary">07.03.2025</time>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>