<div class="mobile-menu">
  <div class="mobile-menu__content">
    <button class="mobile-menu__close"></button>
    <ul class="mobile-menu__list">
      <li class="mobile-menu__item">
        <a href="#" class="mobile-menu__link">Главная</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#" class="mobile-menu__link">Статьи</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#" class="mobile-menu__link">Обо мне</a>
      </li>
    </ul>
  </div>
</div>