<form action="/login" method="post">
  {{#if error}}
    <p>{{error}}</p>
  {{/if}}
  <div>
    <label for="email">Email</label>
    <input type="email" name="email">
  </div>

  <div>
    <label for="password">Пароль</label>
    <input type="password" name="password">
  </div>

  <input type="hidden" name="_csrf" value="{{@root.csrf}}">
  <button>Войти</button>
</form>