<form action="/registration" method="post">
  <div>
    <label for="email">Email</label>
    <input type="email" name="email">
  </div>

  <div>
    <label for="password">Пароль</label>
    <input type="password" name="password">
  </div>

  <div>
    <label for="confirm">Повторить пароль</label>
    <input type="password" name="confirm">
  </div>

  <button>Войти</button>
</form>