body {
  background: #f9f9f9;
}

body * {
  font-family: "Merriweather", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}

.container {
  padding: 0 70px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  height: 80px;
  display: flex;
  align-items: center;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: rgba(0,0,0,.2);
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.logo {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  color: #F8F9FA;
  font-family: "Roboto", sans-serif;
}

.main-block {
  height: 600px;
  background: url('./../img/main-bg.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  padding-top: 80px;
}

.section {
  margin-bottom: 150px;
}

.header-nav__list {
  display: flex;
  align-items: center;
}

.header-nav__item {
  margin-left: 25px;
  position: relative;
}

.header-nav__item::after {
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: all .3s ease;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #D4A373;
  transform-origin: center;
  transform: scaleX(0);
}

.header-nav__item.isActive::after,
.header-nav__item:hover::after {
  transform: scaleX(1);
}

.header-nav__link {
  text-decoration: none;
  color: #E5E5E5;
  font-weight: 400;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.subtitle {
  font-weight: 600;
  color: #495057;
  margin-bottom: 30px;
  font-size: 36px;
}

.filter {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.filter__button {
  background: none;
  border: none;
  color: #495057;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  padding: 0;
  margin-right: 20px;
  transition: all .3s ease;
}

.filter__button.isActive,
.filter__button:hover {
  color: #D4A373;
}

.topics {
  Display: grid;
  Grid-template-columns: 1fr 1fr 1fr 1fr;
  Grid-column-gap: 20px;
  Grid-row-gap: 50px;
}

.topics__item {
  position: relative;
  background: #fff;
  box-shadow: 0 2px 8px 0 rgba(153, 153, 153, 0.273);
  border-radius: 8px;
}

.topics__image {
  width: 100%;
}

.topics__content {
  padding: 15px;
}

.topics__date,
.article-section__date {
  color: #6C757D;
  font-size: 12px;
  margin-bottom: 15px;
  display: inline-block;
}

.topics__link {
  text-decoration: none;
  display: inline-flex;
  flex-direction: column;
}

.article-section__link {
  text-decoration: none;
}

.topics__title,
.article-section__title {
  color: #495057;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  margin-bottom: 15px;
}

.topics__description,
.article-section__description {
  color: #6C757D;
  font-size: 12px;
  line-height: 20px;
}

.badges-list {
  position: absolute;
  top: 20px;
  right: 20px;
  display: inline-flex;
  align-items: center;
}

.badge {
  color: #FFFFFF;
  background-color: rgba(0,0,0,.2);
  border-radius: 8px;
  font-size: 10px;
  font-weight: 600;
  padding: 5px 10px;
  margin-left: 5px;
  font-family: "Roboto", sans-serif;
}

.footer {
  background: #212529;
}

.footer__container {
  padding-top: 105px;
  padding-bottom: 105px;
  display: flex;
}

.footer__copyright {
  padding: 30px 0;
  background: #343A40;
}

.footer__text {
  color: #E5E5E5;
  font-weight: 600;
  font-size: 14px;
}

.footer__item {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.footer__list:not(:first-child) {
  margin-left: 50px;
}

.footer__item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__item:first-child {
  margin-bottom: 18px;
}

.footer__link {
  text-decoration: none;
  color: #E5E5E5;
  font-size: 12px;
}

.footer__link--social {
  margin-right: 10px;
  font-size: 20px;
  display: inline-block;
}

.main-block__title {
  color: #fff;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 30px;
  line-height: 65px;
  max-width: 600px;
}

.main-block__description {
  color: #E5E5E5;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  max-width: 600px;
}

.header-social {
  display: flex;
  align-items: center;
}

.header-social__link {
  color: #fff;
  font-size: 20px;
}


.header-social__item {
  margin-left: 10px;
}

.article-container {
  display: flex;
}

.article-section__link {
  display: flex;
}

.article-section__content {
  margin-left: 10px;
}

.article-section__list {
  margin-left: 5px;
  flex: 4;
}

.article-section__item {
  height: 150px;
  margin-bottom: 10px;
  box-shadow: 0 2px 8px 0 rgba(153, 153, 153, 0.273);
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  position: relative;
}

.article-section__image {
  width: 125px;
  height: 80px;
  border-radius: 8px;
}

.main-article {
  margin-right: 5px;
  flex: 2;
  position: relative;
}

.main-article .topics__image {
  height: 245px;
}
