<form class="card p-4 needs-validation" style="max-width: 320px; width: 100%;" action="/auth/login" method="post" novalidate>
  <fieldset>
    {{#if error}}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
    {{/if}}
    <legend class="text-center">Авторизация</legend>

    <div class="mb-3">
      <label for="email" class="form-label">E-mail</label>
      <input type="email" class="form-control" id="email" name="email" required>
      <div class="invalid-feedback">
        Пожалуйста, введите действительный email.
      </div>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Пароль</label>
      <input type="password" class="form-control" id="password" name="password" required>
      <div class="invalid-feedback">
        Пожалуйста, введите пароль.
      </div>
    </div>

    <input type="hidden" name="_csrf" value="{{@root.csrf}}">
    <button type="submit" class="btn btn-primary">Войти</button>
  </fieldset>
</form>