{% extends "./../../layouts/adminLayout.njk" %}

{% block content %}
  <input type="file" id="fileInput" />

  <input type="hidden" name="_csrf" value="{{csrf}}">
  <button id="uploadButton">Загрузить</button>
{% endblock %}
